 *{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial;
  }
.menu-btn {
  font-size: 26px;
  padding: 10px;
  background: none;
  border: none;
  color:white;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  background: #111;
  transform: translateX(-100%);
  transition: 0.3s ease;
  padding-top: 60px;
  z-index: 1000;
}

.mobile-menu a {
  display: block;
  color: #fff;
  padding: 15px;
  text-decoration: none;
}

.mobile-menu a:hover {
  background: #333;
}

.close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 30px;
  color: white;
  cursor: pointer;
}

header {
  position:fixed;
  background:  #2196f3;
  color: white;
  padding: 0px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width:100%;
  top:0;
}
.logo{
  margin: 0;
  font-size: 20px;
}


h1{
      background-color: #3644E1;
      color:white;
      height:10rem;
      padding:3rem;
      margin:0.5rem;
      border:2px solid white;
      font-size: 3rem;
      width:100%;
      border-radius:20px;
    }
    #h2{
      font-size:1.3rem;
      font-weight: bold;
      text-align: center;
    }
    .leftbox{
     /* width:18rem;
      margin-top:0rem;*/
    }
    .rightbox{
      display: flex;
      gap:1rem;
      margin-top:4rem;
      box-shadow:0px 0px 5px 5px white;
      border-radius:1.5rem;
      padding-top:1rem;
      padding-left:1rem;
      padding-right:1rem;
      padding-bottom:1rem;
      width:20rem;
      margin-bottom:5rem;
    
    }
  
    #inp{
     height:2.5rem;
     width:18rem;
     padding-left:1rem;
     border-radius:5px ;
     outline-color:blue;
     font-size:1.2rem;
     border: 2px solid black;
    }
    
    .button{
      width:18rem;
      height: 2.5rem;
      background-color: #5462E9;
      color:white;
      border:solid blue 1px;
      font-size:1.3rem;
      border-radius:0.3rem;
      margin-top:1rem;
    }
    .button:hover{
      opacity:0.8;
      cursor: pointer;
    }
    
    .upbox{
      background-color:#3644E1;
      color:white;
      padding-top:1rem;
      border-radius:1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .notfound p{
      line-height:2.2rem;
      font-size:1.1rem;
      text-align: center;
    }
    #badal{
      font-size:4rem;
    }
    #head{
      font-size:1.5rem;
      font-weight: bold;
      margin-bottom:1.8rem;
    }
    #h22{
      font-size:1.5rem;
      text-align: center;
      margin-bottom:1rem;
      font-weight:500;
    }
    #h23{
      font-size:1.5rem;
      text-align: center;
      margin-bottom:1rem;
      font-weight:500;
    }
    .card{
      background-color:gray;
      color:white;
      border-radius:0.5rem;
      box-shadow:0px 0px 3px 3px white;
      width:8.5rem;
      height:10rem;
      padding: 1rem 0.5rem;
    }
  .downbox{
      display: grid;
      grid-template-columns:repeat(2,9rem);
      row-gap:1rem;
      column-gap:0.5rem;
      justify-content: center;
      align-items: center;
    }
    .card p{
      line-height:1rem;
      padding-bottom:1rem;
      text-align: center;
      
    }
   p #temp{
      padding-top:5rem;
    }
.inpt{
  outline:red;
  border:2px solid red;
}
.darkmode{
  background:#16CFF5;
  opacity:1;
  
}
.newbtn{
  background: black;
  opacity:0.5;
}
.btn{
  border-radius:5rem;
  /*margin:-2.5rem 0rem 0rem 40rem;*/
  padding:0.7rem 1.6rem;
  position:relative;
  top:50%;
  left:0;
  border:2px solid black;
}
.imgs{
  width:1.5rem;
  height:1.5rem;
  position:absolute;
  top:15.5px;
  opacity:0.5;
  
}
.imgopt{
  transition:0.4s;
  margin-left:1.8rem;
  opacity:1;
}
.badal{
  max-width:19rem;
  height:20rem;
  border-radius:1rem;
  
}
.notfound{
 padding-top:0.5rem;
 padding-bottom: 0.5rem;
}
.btntransition{
  transition:0.5s;
}
.boxes{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-top:100px;
}
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #1e1e2f;
  color: white;
  text-align: center;
  padding: 6px 0;
  font-size: 10px;
}
